body {
    background: #fff;
    font-family: 'Rubik', sans-serif;
}

.cd-button {
    background: #fff;
    width: 1080px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.cd-button a.link {
    display: inline-block;
    text-decoration: none;
    color: #1719b9;
    /*background-color: #017721;*/
    border-color: #666;
    /* margin-right: 10px; */
    width: 25%;
    text-align: center;
}

.cd-table-container {
    background: #fff;
    box-shadow: 1px 2px 26px rgba(0, 0, 0, 0.2);
    padding: 15px;
    max-width: 1080px;
    width: 100%;
}


/* Table Design */

.cd-table {
    width: 100%;
    color: #666;
    margin: 10px auto;
    border-collapse: collapse;
    align-content: stretch;
}

.cd-table table {
    width: 100%;
    color: #666;
    margin: 10px auto;
    border-collapse: collapse;
    align-content: stretch;
}

.cd-table tr,
.cd-table td {
    border: 1px solid #ccc;
    padding: 10px;
}

.cd-table th {
    background: #2296f4;
    color: #fff;
    padding: 10px;
}


/* Search Box */

.cd-search {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}


/* Search Title */

.cd-title {
    color: #666;
    margin: 15px 0;
}